.Header {
    height: 132px;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    display: flex;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Nav {
    display: flex;
    gap: 20px;
}

.NavLink {
    text-decoration: none;
    color: #000;
}

.Icons {
    margin-left: 6vh;
    display: flex;
    gap: 1vw;
}

.Icon {
    width: 48px;
    height: 48px;
}