.Dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 10px;
}

.DropdownItem {
    padding: 10px;
    text-decoration: none;
    color: #000;
    display: block;
    width: 15vw;
}

.Link {
    padding: 10px;
    text-decoration: none;
    color: #000;
    display: block;
    width: 15vw;
}

.Link:hover {
    background-color: #f0f0f0;
    color: #ffd500;
}