.TextWrapper {
    text-align: center;
    width: 100%;
    max-width: 400px;
    padding: 0;
    margin: 0 auto;
}

.Input {
    width: 100%;
}

.ButtonWrapper {
    display: flex;
    margin: auto;
}

.KeyButton {
    padding: 18px 0px 19px 0px;
    border-radius: 40px;
    background: #DE943D;
    color: #fff;
}